
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@section Footer
{

    <div class="container">
            &copy; 2022 - VacationSpots12._1 - <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
        </div>



}
