@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ready to have some fun?</h1>
    <p>Click the "Vacations" tab to explore!</p>
</div>

@section Footer
{

    <div class="container">
            &copy; 2022 - VacationSpots12._1 - <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
        </div>



}

